/*reset*/

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*header*/
/*
header{
    background-image: url(./../img/banner-playa-palapas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 100px;
}

header nav ul{
    list-style: none;
    display: inline;
}

header nav ul li a{
    color: #f4f2f8;
    text-decoration: solid ;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav ul li a:hover{
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul.navega li{
    display: inline;
}
*/
/*estilos globales**/
/*

@import url(https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap);

h1{
    color: rgb(7, 54, 7);
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 20px;
}

h2{
    color: rgb(25, 26, 84);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 50px;
} 

h3{
    color: rgb(25, 26, 84);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
} 


h4{
    color:rgb(7, 54, 7); 
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 10px;
}      


.titulo-principal{
    color: rgba(20, 20, 20, 0.72);
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
    text-shadow: 10px color(srgb red green blue);
}
.texto-secundario{
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}

.parrafo{
    font-size: 20px;
    padding-left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    justify-content: center;
    text-align: justify;   
}


.parrafo-bold{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: left;
    font-weight: bold;    
}

.parrafo-corto{
    font-size: 20px;
    font-style:italic;
}

.parrafo-muy-corto{
    font-size: 15px;
    font-style: normal;
}

img.pequena{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
img.mediana{
    width: 600px;
    height: 600px;
    border-radius: 15px;
}
img.grande{
    width: 1000px;
    height: 1000px;
    border-radius: 15px;
}
img.muy-pequena{
    width: 50px;
    height: 50px;
}
*/

/*Main index*/
/*
.container text-center{
    column-span: 15px;
}
.carousel{
    padding: 5px 20px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.position-fixed{
    position: fixed;
    bottom: 15px;
    right: 20px;    
    border: none;
    opacity: 100%;
} 

.position-fixed img{
    width: 70px;
    border: none;
    opacity: 100%;
}

.li{
    margin: 0;
    padding: 0;
}
.lista-sin-bullet{
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
}



*/

/*Destinos*/
/*
.animation-img{
    height: 100px;
    width: 100px;
    animation: flight 7s linear infinite ;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
    margin-top: 0px;
}

.animation-img:hover{
    animation-play-state: paused
}

.card{
    width: 350px;
    height: 420px;
    border-radius: 20px 0px 20px 20px;
    overflow: hidden;
    box-shadow: 10px 12px 28px 10px rgba(0,0,0,0.75);
    position: relative;
}

.card img{
    width: 100%;
    height: 200px;
    opacity: 50%;
}

.card:hover{
    border-color: red;
    border-width: 5px;
    opacity: 100%;
}

.card img:hover{
    opacity: 100%;
    border-style: double;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    border-top-left-radius: 15px;
}*/
/*
.contenedor-destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding-bottom: 20px;
}

.card-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 160px;
    padding: 20px;
}

.descuento{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1E1E1E;
    color: aliceblue;
    padding: 5px;
    border-radius: 0 0 0 5px;
}
*/

/*Galeria*/

/*.grid-galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,300px);
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}
.grid-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.grid-galeria div{
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    border-radius: 6px;
    overflow: hidden;
}
.img-1{
    position: relative;
}

.texto-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.462));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}
.texto-1:hover{
    opacity: 1;
    transition: opacity 1.5s;
    cursor: pointer;
}*/
/*
.img-2{
    position: relative;
}

.texto-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.462));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}
.texto-2:hover{
    opacity: 1;
    transition: opacity 1.5s;
    cursor: pointer;
}
.img-3{
    position: relative;
}

.texto-3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.462));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}
.texto-3:hover{
    opacity: 1;
    transition: opacity 1.5s;
    cursor: pointer;
}
.img-4{
    position: relative;
}

.texto-4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.462));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}
.texto-4:hover{
    opacity: 1;
    transition: opacity 1.5s;
    cursor: pointer;
}
.img-5{
    position: relative;
}

.texto-5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.462));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}
.texto-5:hover{
    opacity: 1;
    transition: opacity 1.5s;
    cursor: pointer;
}
*/
/*
.contenedor-dos-columnas{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 2fr;
    gap: 30px;    
    justify-content: space-evenly;
    row-gap: 25px;
    padding-bottom: 20px;
}*/



/*Contacto*/
/*
.contenedor{
    margin-top: 10px;
    display: flex;
    padding: 25px;
}

.contenedor-contacto{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    display: flex;
    align-items: left;
    text-align: justify;
}
.contacto{
    margin-bottom: 15px;
}



#contacto-section {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    opacity: 100%;
    background-color:#b3d3e4;
    color: #000000;
    border-radius: 15px;
}
#contacto-section form {
    margin-top: 0px;
    width: 100%;
}
#contacto-section label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

#contacto-section input,
#contacto-section textarea{
    display: inline-block;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#contacto-section #mensaje {
    width: 100%;
    height: 180px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    resize: vertical;
}

#contacto-section input[type="submit"] {
    width: 50%;
    margin-left: 110px;
    background-color: #0288d1;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    transition: border color 0.3s ease;
}
#contacto-section input[type="submit"]:hover {
    background-color: #0288d1;
    border-color: red;
    border-width: 5px;
}

.container{
    padding:20px;
    color: #0288d1;
}

.btn{
    background-color: #0288d1;
    padding-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn:hover{
    background-color: #0288d1;
    border-color: red;
    border-width: 5px;
}*/


/*
@keyframes flight{
    100%{
        transform: translate(1500px) ;
    }
}
*/

/*Footer*/
/*
.position-relative{
    margin-left: 40px;
    margin-bottom: 40px;
}*/

/*Media Query*/
/*<!-- Mobile 320px - 768px -->
<!-- Tablet 768px - 1024px -->
<!-- Desktop 1024px - 1200px -->*/
/*
@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }   
    header nav ul li a{
        color: rgb(248, 245, 245);
    }

    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-area: repeat(3, 300px);
        grid-template-areas:
        "img1 img2"
        "img3 img3"
        "img4 img5";
    }
    .img-1{
        grid-area: img1;
    }    
    .img-2{
        grid-area: img2;
    }    
    
    .img-3{
        grid-area: img3;
    }    
    .img-4{
        grid-area: img4;
    }
    .img-5{
        grid-area: img5;
    }
}


@media screen and (min-width: 1024px){
    .grid-galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30vh);
        grid-template-areas:
        "img1 img2 img3"
        "img1 img4 img4"
        "img5 img5 img5";
    }
    
    header nav ul li a{
        color: rgb(12, 13, 13);
        align-items: center;
        display: inline-flexbox;
    }

}

