/*Nosotros*/
.position-fixed{
    position: fixed;
    bottom: 15px;
    right: 20px;    
    border: none;
    opacity: 100%;
    img{
        width: 70px;
        border: none;
        opacity: 100%;
    }
} 